:root {
	--accen-01: #49e4fc;
	--accen-01: #0ec7de;
	--accen-03: #11a1b4;

	--acchi-01: #58d1e510;
	--acchi-02: #58d1e530;
	--acchi-03: #58d1e550;
	--acchi-04: #58d1e570;

	--brigh-01: #fd99a9;
	--brigh-02: #fca676;
	--brigh-03: #ecca6c;
	--brigh-04: #a4cd79;
	--brigh-05: #61d7b2;
	--brigh-06: #47d2e8;
	--brigh-07: #76bafe;
	--brigh-08: #b6aaff;
	--brigh-09: #e9a1e3;

	--color-01: #f3899b;
	--color-02: #ef945f;
	--color-03: #deba50;
	--color-04: #92be62;
	--color-05: #3fc8a1;
	--color-06: #0ec7de;
	--color-07: #6ab3fd;
	--color-08: #ad9ffa;
	--color-09: #dc8fd5;

	--darkd-06: #176f7c;
	--darkd-07: #43668a;

	--white-01: #d4d4d4;

	--neutr-16: #a0b1d6;
	--neutr-15: #95a5c9;
	--neutr-14: #8a9abd;
	--neutr-13: #808fb0;
	--neutr-12: #7584a4;
	--neutr-11: #6b7998;
	--neutr-10: #616e8c;
	--neutr-09: #576380;
	--neutr-08: #4e5973;
	--neutr-07: #454f66;
	--neutr-06: #3c4559;
	--neutr-05: #343c4d;
	--neutr-04: #2c3240;
	--neutr-03: #242934;
	--neutr-02: #1c2029;
	--neutr-01: #15181e;
	--neutr-00: #121318;

	--neutr-20: #cde9ff;
	--neutr-19: #c2dcff;
	--neutr-18: #b6d0ff;
	--neutr-17: #abc4f5;
	--neutr-16: #a0b8e6;
	--neutr-15: #95acd8;
	--neutr-14: #8ba0ca;
	--neutr-13: #8094bc;
	--neutr-12: #7589ae;
	--neutr-11: #6b7da1;
	--neutr-10: #617293;
	--neutr-09: #566786;
	--neutr-08: #4c5c79;
	--neutr-07: #43526c;
	--neutr-06: #3b475e;
	--neutr-05: #333d51;
	--neutr-04: #2b3343;
	--neutr-03: #242a36;
	--neutr-02: #1c212a;
	--neutr-01: #15181e;

	--hover-01: #7584a414;
	--hover-02: #7384ac28;
	--hover-03: #7181a640;
	--hover-04: #7082a656;

	--shado-01: #0005;
}
